body,html {
	font-size: 16px;
	height: 100%;
}

a {
	color: $link-color;
	text-decoration: none;
	&:visited {
		color: $link-color;
	}
	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}
	&:focus {
		outline: 0;
		color: $link-color-hover;
	}
}