<div>
  <h3>Please set your name</h3>
  <input [(ngModel)]="userName" type="text">
</div>


<div *ngFor="let question of questions; let ind = index" class="question">
  <h3>{{ question.questionName}}</h3>
    <pre *ngIf="!!question.questionCode">
    <code>
      {{ question.questionCode }}
    </code>
  </pre>
  <p *ngIf="!!question.questionDescription">{{ question.questionDescription }}</p>
  <ul>
    <li *ngFor="let option of question.options; let i = index" class="answer">
      {{option}}
    </li>
  </ul>
  <p>Ответ:</p>
  <textarea [(ngModel)]="question.answer" class="textarea"></textarea>

</div>

<span (click)="downloadFile()" class="over">Закончить тест!</span>